@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
body{
    background-image: url(../pics/230804_source.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(29,27,21);

}

.kartyak{
    display: flex;
    margin: 150px 50px 150px 50px;
}
a .cardok{
    margin-bottom: 40px;
    transform: translateY(-2rem);
    transition-duration: .5s;
}
a .cardok:hover{
    transform: translateY(2rem);
    transition-duration: .5s;
}


