@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-image: linear-gradient(to right, gray, rgb(214, 212, 212), white, rgb(243, 239, 239), gray);
    font-family: 'Wix Madefor Display', sans-serif;
}

header {
    background-image: url(../pics/xd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    margin-bottom: 0;
}

.navigacio {
    display: flex;
}

.navigacio h1 {
    font-size: 4rem;
    text-shadow: 5px 5px rgba(165, 165, 165);
    display: flex;
    align-items: center;
    margin: 40px;
    margin-left: 120px;
}

nav {
    display: flex;
    margin-top: 50px;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-bottom: 20px;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    text-shadow: 2px 2px 2px gray;
}

nav a:hover {
    margin-left: 10px;
    transition-duration: .5s;
    margin-right: -10px;
}
.main {
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.carousel {
    margin-top: 20px;
}

.carousel img {
    border-radius: 20px;
}

.card {
    margin: 20px auto;
    box-shadow: 2px 2px 2px 2px rgb(177, 174, 174);
}

.flexboxteljes {
    display: flex;
}

.kepekbal {
    box-shadow: 5px 5px 30px rgb(141, 137, 137);
    padding: 20px;
    margin-top: 0;
}

.kepekjobb {
    box-shadow: -5px -5px 30px rgb(141, 137, 137);
    padding: 20px;
}

.kepekbal img,
.kepekjobb img {
    border-radius: 50%;
    margin-bottom: 250px;
}