@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    padding: 50px;
    background-image: url(../pics/230804_source.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 400px;
}

.mycards{
    margin-top: 50px;
}

.kartyak {
    justify-content: center;
    display: flex;
}

a .cardok {
    margin-bottom: 80px;
    transform: translateY(-2rem);
    transition-duration: .5s;
}

a .cardok:hover {
    transform: translateY(2rem);
    transition-duration: .5s;
}
i{
    display: flex;
    color: white;
    font-size: 2rem;
    justify-content: center;
    text-shadow: -3px 3px 5px white;
    
}
a{
    text-decoration: none;
}

