@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
body{
    background-image: url(/pics/audibg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card{
    background-color: rgba(255,255,255, .8);
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.card1{
    display: flex;
    box-shadow: 5px 5px 50px rgb(97, 96, 96);
    margin-bottom: 50px;
    opacity: .8;
}
.card2{
    display:block;
    opacity: 0;
    position: absolute;
    transform: translateY(-2rem);
    transition-duration: .4s;
    transition-delay: .2s;
    box-shadow: 5px 5px 20px black;
    
}
.card1:hover + .card2{
    opacity: .8;
    transition-delay: .2s;
    transform: translateY(1rem);
    transition-duration: .4s;
}
i{
    padding: 20px;
    color: white;
    text-shadow: 5px 5px 5px white;
    font-size: 2rem;
}

