@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
body{
    background-image: url(/pics/bmwbg.jpg);
    background-repeat: no-repeat;
}
.card{
    background-color: rgba(255,255,255, .8);
    font-weight: bold;

}